
html,body{
	height:100%;
	margin:0%;
	padding:0;
}
#main-wrapper {
	min-height: 100%;
    padding: 0 0 250px;
    position: relative;
}

footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
