
div.scrolllist {
    overflow: auto;
    white-space: nowrap;
}

div.scrolllist a span {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div.scrolllist a span.info {
	position: relative;
    display: none;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div.scrolllist a:hover span{
    display: none;
}
div.scrolllist a:hover .info{
    display: inline-block;
    float:bottom;
    transition: visibility 0.5s;
}